.App {
  text-align: center;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
 
}
.dashboard{
  display: flex;
  justify-content: space-around;
  border: solid 4px #f5f5f5;
  background-color: #f5f5f5;
  padding: 2rem;
}


@media (max-width: 1024px) {
  .dashboard{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
        border: solid 4px #f5f5f5;
    background-color: #f5f5f5;
    padding: 2rem;
    
  }
}

